# Basics
numpy
pandas
scipy
statsmodels

seaborn
matplotlib

tqdm

duckdb

scikit-learn
xgboost
lightgbm
catboost
joblib

# Prevent pip/notebook warnings
matplotlib-inline 
nest-asyncio 
psutil 
tornado 
traitlets 
exceptiongroup 
pygments 
typing-extensions 
importlib-metadata
wcwidth
ipywidgets
